<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gamershots</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="starter-template.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Gamershots</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/filter">Filter</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Filter</h1>
      </div>

      <form action="/screenshot" method="get">
        <div class="form-group">
          <label>Platforms</label>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Amiga" name="platforms[]">
              Amiga
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Arcade" name="platforms[]">
              Arcade
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Atari ST" name="platforms[]">
              Atari ST
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Commodore 64" name="platforms[]">
              Commodore 64
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Game Boy" name="platforms[]">
              Game Boy
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Game Boy Advance" name="platforms[]">
              Game Boy Advance
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Game Boy Color" name="platforms[]">
              Game Boy Color
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="GameCube" name="platforms[]">
              GameCube
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Genesis" name="platforms[]">
              Genesis
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Linux" name="platforms[]">
              Linux
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Mac" name="platforms[]">
              Mac
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Nintendo 64" name="platforms[]">
              Nintendo 64
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Nintendo DS" name="platforms[]">
              Nintendo DS
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Nintendo Entertainment System" name="platforms[]">
              Nintendo Entertainment System
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="PC" name="platforms[]">
              PC
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="PlayStation" name="platforms[]">
              PlayStation
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="PlayStation 2" name="platforms[]">
              PlayStation 2
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="PlayStation 3" name="platforms[]">
              PlayStation 3
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="PlayStation 4" name="platforms[]">
              PlayStation 4
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="PlayStation Network" name="platforms[]">
              PlayStation Network
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="PlayStation Portable" name="platforms[]">
              PlayStation Portable
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Super Nintendo Entertainment System" name="platforms[]">
              Super Nintendo Entertainment System
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Wii" name="platforms[]">
              Wii
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Wii Shop" name="platforms[]">
              Wii Shop
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Wii U" name="platforms[]">
              Wii U
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Xbox" name="platforms[]">
              Xbox
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Xbox 360" name="platforms[]">
              Xbox 360
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Xbox 360 Games Store" name="platforms[]">
              Xbox 360 Games Store
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Xbox One" name="platforms[]">
              Xbox One
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="iPhone" name="platforms[]">
              iPhone
            </label>
          </div>
        </div>

        <div class="form-group">
          <label>Publishers</label>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Acclaim Entertainment, Inc." name="publishers[]">
              Acclaim Entertainment, Inc.
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Activision" name="publishers[]">
              Activision
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Atari SA" name="publishers[]">
              Atari SA
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Bandai Co., Ltd." name="publishers[]">
              Bandai Co., Ltd.
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Bandai Namco Entertainment" name="publishers[]">
              Bandai Namco Entertainment
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Capcom" name="publishers[]">
              Capcom
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Codemasters" name="publishers[]">
              Codemasters
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Electronic Arts" name="publishers[]">
              Electronic Arts
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Hudson Entertainment, Inc." name="publishers[]">
              Hudson Entertainment, Inc.
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Konami Corporation" name="publishers[]">
              Konami Corporation
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Microsoft Studios" name="publishers[]">
              Microsoft Studios
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Midway Games" name="publishers[]">
              Midway Games
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Namco" name="publishers[]">
              Namco
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Nintendo" name="publishers[]">
              Nintendo
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Sega" name="publishers[]">
              Sega
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Sierra" name="publishers[]">
              Sierra
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Sony Computer Entertainment America" name="publishers[]">
              Sony Computer Entertainment America
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Sony Computer Entertainment Incorporated" name="publishers[]">
              Sony Computer Entertainment Incorporated
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Square Enix" name="publishers[]">
              Square Enix
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="THQ" name="publishers[]">
              THQ
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Taito Corporation" name="publishers[]">
              Taito Corporation
            </label>
          </div>
        </div>

        <div class="form-group">
          <label>Minimum Year</label>
          <select class="form-control" name="minimum_year">
            <option>---</option>
            <option>1971</option>
            <option>1972</option>
            <option>1973</option>
            <option>1974</option>
            <option>1975</option>
            <option>1976</option>
            <option>1977</option>
            <option>1978</option>
            <option>1979</option>
            <option>1980</option>
            <option>1981</option>
            <option>1982</option>
            <option>1983</option>
            <option>1984</option>
            <option>1985</option>
            <option>1986</option>
            <option>1987</option>
            <option>1988</option>
            <option>1989</option>
            <option>1990</option>
            <option>1991</option>
            <option>1992</option>
            <option>1993</option>
            <option>1994</option>
            <option>1995</option>
            <option>1996</option>
            <option>1997</option>
            <option>1998</option>
            <option>1999</option>
            <option>2000</option>
            <option>2001</option>
            <option>2002</option>
            <option>2003</option>
            <option>2004</option>
            <option>2005</option>
            <option>2006</option>
            <option>2007</option>
            <option>2008</option>
            <option>2009</option>
            <option>2010</option>
            <option>2011</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
          </select>
        </div>

        <div class="form-group">
          <label>Maximum Year</label>
          <select class="form-control" name="maximum_year">
            <option>---</option>
            <option>1971</option>
            <option>1972</option>
            <option>1973</option>
            <option>1974</option>
            <option>1975</option>
            <option>1976</option>
            <option>1977</option>
            <option>1978</option>
            <option>1979</option>
            <option>1980</option>
            <option>1981</option>
            <option>1982</option>
            <option>1983</option>
            <option>1984</option>
            <option>1985</option>
            <option>1986</option>
            <option>1987</option>
            <option>1988</option>
            <option>1989</option>
            <option>1990</option>
            <option>1991</option>
            <option>1992</option>
            <option>1993</option>
            <option>1994</option>
            <option>1995</option>
            <option>1996</option>
            <option>1997</option>
            <option>1998</option>
            <option>1999</option>
            <option>2000</option>
            <option>2001</option>
            <option>2002</option>
            <option>2003</option>
            <option>2004</option>
            <option>2005</option>
            <option>2006</option>
            <option>2007</option>
            <option>2008</option>
            <option>2009</option>
            <option>2010</option>
            <option>2011</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
          </select>
        </div>

        <div class="form-group">
          <label>User Reviews</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true" name="number_of_user_reviews">
              Has User Reviews
            </label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Play</button>
        </div>
      </form>

    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $( "#reveal" ).click(function() {
          $( "#name" ).css('visibility','visible');
        });
      });
    </script>
  </body>
</html>
